
.FrontImg{
	background-size: cover;
	background-repeat: no-repeat;
	height: 670px;
	width: 100%;
	top:0px;	position: fixed;
	z-index: -1;
}
.FrontDiv{
	height: 670px;
	position: absolute;
	top: 0px;
	width: 100%;
	color: white;
}
.FrontDiv #span1{
	padding-top: 150px;
	padding-left: 120px;
	 
}
#l1{

	font-size: 15px;
	color: #9b9999;
}
#l2{
	font-size: 22px;
	color: #fff;
}

#l3{
	font-size: 40px;
	margin-top: 20px;
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 1px;
}
#eBtn{
	height: 20px;
	width: 120px;
	border: 1.5px solid #1a2fb0;
	font-size: 15px;
	padding: 7px 25px 7px 25px;
	margin-top: 10px;text-align: center;
	border-radius: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #1a2fb0;
	transition: all;
    transition-duration: 0.4s;
}
#eBtn:hover{
	background-color: #1a2fb0;
	color: white;
	cursor: pointer;
}
.blogHead{
	position: relative;
	height: 120px;
	width: auto;
	margin-top: 620px;
	text-align: center;
	padding: 50px;
	background-color: white;
	color: #575757;
}
.blogHead h1{
	font-size: 20px;
	color: black;
}
.mainContent{
	height: 1200px;
	width: auto;
	background-repeat: no-repeat;
	background-size:cover;
}
/*Media Queries*/

/* @960px*/
