.HeaderNav{
            min-height: 50px;
            max-height: auto;
            width: auto;
            border-bottom: 1px solid gray;
           
            padding-right: 10%;
            padding-left: 10%;
            padding-top: 15px;
            color: #a3a4a4;
        }
        .NavContent{
            float: left;
            padding-right: 20px;
            font-size: 15px;

            padding: 8px;
        }
        .NavContent i{
            font-size: 13px;
            padding: 3px;
        }
        .socialIcon{
            font-size: 15px;
            float: right;
            padding: 8px;
            color: #a3a4a4;

        }
        .socialIcon i:hover{
            cursor: pointer;
            color: black;
        }
        .si{
            font-size: 12px;
            padding-left: 15px;
            padding-right: 1px;
            padding-top: 10px;
            padding-bottom: 8px;
            float: right;
            color: #a3a4a4;
        }
        .ss:hover{
            color:#19a1e8;
            cursor: pointer;

        }
        .mainNav{
            background: white;
            position: sticky;
            top: -2px;
            height: 120px;
            width: auto;
            padding-left: 5%;
            padding-right: 5%;
            z-index: 200;
            margin-bottom: 20px;
        }
        .logoDiv{

            height: 80%;
            float: left;
            transition: all;
        transition-duration: 0.4s;
        }
        .logoDiv img{
            margin-top: 2%;
            float: left;
            height: 100%;

        }
        .logoDiv h2{
            margin-left: 20px;
            float: right;
        }
        /*Menu Bar Starts */
        .menuBar{
        float: right;
        
    }
    .menuItem{
        color: #8c8c8c;
        margin-right: 50px;
        float: right;
        font-family: 'Oswald', sans-serif;
        margin-top: 5%;
        /*border: 1px solid red;*/
    }
    .menuItem a{
        text-decoration: none;
        color: #8c8c8c;
    }
    .menuItem span{
        font-size: 14px;
        padding-left: 13px;
        padding-right: 13px;
        letter-spacing: 2px;
        border: 0px solid white;
        border-right-width: 5px;
       border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;

        
    }
    .menuItem span:hover{
        transform: scale(1.5);
        color:#67a5fa ;
        cursor: pointer;
        transition: all;
        transition-duration: 0.4s;
        border: 0px solid #67a5fa;
        border-right-width: 5px;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        
    }
    #activated{
        cursor: pointer;
        color:#67a5fa ;
        border: 0px solid #67a5fa;
        border-left-width: 5px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        border-right-width: 5px;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        text-decoration: none;
    }
    /*After Scrolling*/
    .mainNav-after{
            background: white;
            position: sticky;
            top: -2px;
            height: 80px;
            width: auto;
            padding-left: 5%;
            padding-right: 5%;
            z-index: 200;
            margin-bottom: 20px;
        }
        
        .logoDiv-after{

            height: 80%;
            float: left;
        }
        .logoDiv-after img{
            margin-top: 2%;
            float: left;
            height: 100%;

        }
        .logoDiv-after h2{
            margin-left: 20px;
            float: right;
        }
        .menuBar-after{
        float: right;
        
    }
    .menuItem-after{
        color: #8c8c8c;
        margin-right: 50px;
        float: right;
        font-family: 'Oswald', sans-serif;
        margin-top: 4%;
    }
    .menuItem-after a{
        text-decoration: none;
        color: #8c8c8c;
    }
    .menuItem-after span{
        font-size: 13px;
        padding-left: 15px;
        padding-right: 15px;
        letter-spacing: 2px;
        border: 0px solid white;
        border-right-width: 5px;
       border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        text-decoration: none;
        
    }
    .menuItem-after span:hover{
        transform: scale(1.5);
        color:#67a5fa ;
        cursor: pointer;
        transition: all;
        transition-duration: 0.4s;
        border: 0px solid #67a5fa;
        border-right-width: 5px;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        
    }
        /*Menu Bar Ends*/